{% extends 'base.html' %}

{% block main %}
<div class="w-full h-full">
    <div class="w-11/12 mx-auto mt-11">
        <h2 class="text-center text-3xl py-11">ホーム</h2>
        {% for post in object_list %}
        <div class="w-11/12 mx-auto my-4 bg-slate-200 rounded-md border">
            <h2 class="text-center mx-auto text-2xl pt-4 border-b-2 border-gray-300 w-11/12">{{post.title}}</h2>
            <p class="text-left mx-auto w-11/12 text-l py-11">{{post.content}}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}