{% load static %}
{% load widget_tweaks %}

<div class="bg-emerald-500 w-full h-14">
  <div class="float-left w-3/6">
    <h2 class="text-white text-2xl my-2.5 ml-4 mx-3 ">POS</h2>
  </div>
  <div class="float-right w-3/6">
    <ul class="float-right">
      <!-- 未ログイン時の表示 -->
      {% if not user.is_authenticated %}
      <li class="text-white float-left my-4  mx-4">
        <a href="{% url 'accounts:login' %}">ログイン</a> 
      </li>
      <li class="text-white float-left my-4  mx-2">
        <a href="{% url 'accounts:signup' %}">新規登録</a>
      </li>
      {% endif %}

      {% if user.is_authenticated %}
      <li class="text-white float-left my-4  mx-3">
        <a href="{% url 'articles:home' %}">ホーム</a>
      </li>
      <li class="text-white float-left my-4  mx-3">
        <a href="{% url 'articles:post' %}">投稿</a>
      </li>
      <li class="text-white float-left my-4  mx-3">
        <a href="{% url 'accounts:logout' %}">ログアウト</a>
      </li>
      {% endif %}
    </ul>
  </div>
  
</div>